@import url("https://fonts.googleapis.com/css2?family=Poppins: 400,700,600,800|Roboto:400");

* {
  margin: 0;
  padding: 0;
}

.element {
  display: flex;
}

.lefthalf {
  background-color: black;
  width: 25%;

  align-items: center;
  text-align: center;
}

.righthalf {
  background-color: #7f265b;
  width: 75%;
  text-align: center;
  color: aliceblue;
  height: 100vh;
}

.para1 {
  width: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 1px;
}

#logo1 {
  width: 50%;
  margin: auto;
  padding: 15px;
}

.sign-up {
  color: #4b72c2;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 20;
}

.footer1 {
  color: #7f7f7f;
  margin: 20px;
  font-size: 15px;
  font-weight: 10;
}

.contact {
  background-color: #7f7f7f;
  border-radius: 10px;
  padding: 15px;
  font-size: 14px;
  margin: 28px;
  width: 230px;
  position: absolute;
  bottom: 2px;
}

.login-form {
  background: #7f265b;
  border-radius: 10px;
  color: rgb(232, 214, 214);
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}

.login-form input[type="text"],
.login-form input[type="Address"],
.login-form input[type="email"],
.login-form input[type="Number"],
.login-form input[type="date"] {
  max-width: 500px;
  color: antiquewhite;
  background-color: #110c0c;
  width: 90%;
  line-height: 2.5em;
  font-family: "Ubuntu", sans-serif;
  margin: 0.5em 2em;
  border-radius: 5px;
  border: 1px solid #110c0c;
  padding-left: 10px;
}

.para {
  line-height: 0.1em;
}
.login-form input[type="date"] {
  background-color: rgb(71, 75, 79);
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(209, 186, 186);
  opacity: 0.8;
}

.login-form input[type="Address"] {
  line-height: 5em;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(209, 186, 186);
}

.School label {
  margin-right: 20px;
  padding: auto;
}

.School {
  width: 500px;
  text-align: center;
  margin: auto;
  height: 50px;
  align-items: center;
}

.School label[for="schoolc"] {
  padding: 0%;
  margin: 0%;
  float: left;
  font-size: larger;
  font-weight: bold;
}


.place {
  text-align: left;
  width: 500px;
  margin: auto;
  margin-bottom: 15px;
}

.place input {
  margin-left: 20px;
}

.upload {
  width: 500px;
  margin: auto;
  text-align: left;
}

.image1 {
  height: 59px;
  margin-right: 50px;
  margin-top: 20px;
  object-fit: cover;
  width: 142px;
  padding-left: 0px;
}

.margin {
  margin-bottom: 5px;
  margin-top: 5px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.next {
  height: 20px;
  letter-spacing: 0;
  min-width: 35px;
}

.poppins {
  font-family: "Poppins";
}

.overlap {
  align-items: end;
  align-self: end;
  background-color: #4b72c2;
  border-radius: 8px;
  display: flex;
  height: 48px;
  margin-left: 750px;
  padding-right: 40px;
  padding-left: 70px;
  padding-top: 3px;
  max-width: 200px;
  margin-top: 20px;
  display: flex;
  text-align: center;
}

.container {
  margin-left: 500px;
}
